#board
{
    width: 250px;
    height: 250px;
    border: 1px solid; 
    table-layout: fixed;
    border-collapse:collapse;
}

#board th {
    border: 1px solid; 
}

#board td {
  border: 1px solid;
  text-align: center; 
  vertical-align: middle;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}